//@import "@/../node_modules/bootstrap/scss/bootstrap";
@import "@/../node_modules/bootstrap/scss/functions";
@import "@/../node_modules/bootstrap/scss/variables";
@import "@/../node_modules/bootstrap/scss/mixins";

:root {
    $body-color: #2c3e50;
    $body-bg: #FFFFFF;

    --box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;

    --color: 255, 255, 255;
    --invert-color: 0, 0, 0;
    --app-background-color: var(--bs-body-bg);
    --app-text-color : var(--bs-body-color);
    --app-text-invert-color : #d0d0d0;
    --app-bar-color : var(--bs-light);
    --app-navbar-bgcolor: var(--bs-gray-100);
    --app-navbar-color: #2c3e50;
    --app-footer-bgcolor: var(--bs-gray-100);
    
    --dynamic-title-color: #363636;
    --dynamic-subtitle-color: #4a4a4a;

    --cshadow: rgba(0,0,0,0.75);

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    @import "@/../node_modules/bootstrap/scss/bootstrap";
}

[theme="dark"] {
    $body-color: #d0d0d0;
    $body-bg: #121212;
    --bs-border-color: var(--bs-gray-700);

    --box-shadow: 0 0.125rem 0.25rem rgb(255 255 255 / 8%) !important;

    --color: 0, 0, 0;
    --invert-color: 255, 255, 255;
    --app-background-color: var(--bs-body-bg);
    --app-text-color : var(--bs-body-color);
    --app-text-invert-color : #2c3e50;
    --app-bar-color : var(--bs-dark);
    --app-navbar-bgcolor: var(--bs-dark);
    --app-navbar-color: var(--bs-light);
    --app-footer-bgcolor: var(--bs-gray-900);
    --dynamic-title-color: #FFFFFF;
    --dynamic-subtitle-color: cyan;

    --cshadow: rgba(211,211,211,0.75);

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
    
    @import "@/../node_modules/bootstrap/scss/bootstrap";
}